<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="~/Scripts/jquery-3.2.1.js"></script>
        <script src="~/Scripts/jscolor.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/materialize.min.js"></script>
        <link href="~/Content/style.css" rel="stylesheet" />
                @RenderSection("Scripts", false)
        <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />
        <link rel="icon" type="image/png" href="~/Content/icon.ico" />
    </head>
    <body>
        <div class="wrapper">
            <div style="min-height:75%;">
                <ul id="dropdown2" class="dropdown-content">
                    @using (Html.BeginForm("ChangeTest", "Home"))
                    {
                        if (ViewBag.Tests != null)
                        {
                            foreach (ThreeColor.Data.Models.Tests test in ViewBag.Tests)
                            {
                                <li><a href=@Url.Action("ChangeTest", "Home", new { id = test.Id})>@test.Name</a></li>
                            }
                        }
                    }
                </ul>
                <nav>
                    <div class="nav-wrapper teal darken-3" style="padding-left:10px;">
                        <a href="#!" class="brand-logo">ThreeColor</a>
                        <ul class="right hide-on-med-and-down">

                            <li><a href="sass.html">@ViewBag.TestName</a></li>
                            <li onclick="location.href = '/Account/LogOff';"><a class="dropdown-button" href="/Account/LogOff">Сменить пользователя</a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Выберите тест <i class="material-icons right">arrow_drop_down</i></a></li>
                        </ul>
                    </div>

                </nav>
                <div class="body">
                    @RenderBody()
                </div>
            </div>
            <footer class="page-footer teal">
                @Html.Action("ForDevelopers", "Home")
            </footer>
        </div>
    </body>
</html>
