@using System.Diagnostics;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@Model.Exception.Message<br />
@Model.ActionName <br />
@Model.ControllerName <br />
@if (Model.Exception.InnerException != null)
{
    @Model.Exception.InnerException <br />
}
@Model.Exception.Source
@Model.Exception.GetType()
@{
    var st = new StackTrace(Model.Exception, true);
    var frame = st.GetFrame(st.FrameCount - 1);
    var line = frame.GetFileLineNumber();
}
Line - @line<br />
@foreach (var item in Model.Exception.Data)
{
    <hr />
    <text>@item.ToString()</text>

}
<hr />
@Model.Exception.ToString()